# Node.js
node_modules/

# Logs
logs/
*.log

# Dependency directories
node_modules/
jspm_packages/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# dotenv environment variables file
.env

# Cache directories
.cache
tmp/

# Miscellaneous
.DS_Store

# Build output
dist/
build/

# Old files
archive/
