.card {
    margin-bottom: 10px;
    align-items: left;
    cursor: pointer;
}

.card-body {
    display: flex;      /* Aligns the image and info side by side */
}

.card-text1 {
    font-size: 12px;    /* Set desired font size */
}

.card-text2 {
    font-size: 10px;    /* Set desired font size */
}

.card-img-left {
    width: 100px;       /* Adjust the size as necessary */
    height: auto;       /* Maintain image aspect ratio */
    object-fit: cover;  /* Ensures proper image fit */
}

.card-column {
    margin-bottom: 1rem;
    padding: 10px;      /* Adjust padding as you see fit */
}

#map {
    height: 400px;
    width: 100%;
}

#pagination button {
    margin-left: 10px;  /* Optional: Add spacing between buttons if needed */
}   

.utilization {
    background-color: #e0e0e0;
    border-radius: 5px;
    overflow: hidden;
    height: 10px;       /* Adjust height as necessary */
    margin-top: 5px;    /* Space above the bar */
}

.utilization-bar {
    background-color: #76c7c0;    /* Color for the utilized portion */
    height: 100%;
    transition: width 0.3s;         /* Smooth transition */
}

.utilization-text {
    font-size: 12px;                /* Set desired font size */
    text-align: center;             /* Center the text below the bar */
    margin-bottom: 2px;             /* Space between bar and text */
}

.btn-custom {
    transition: background-color 0.3s, transform 0.2s;
}

.btn-custom:hover {
    background-color: darkred; /* Change this as per your color scheme */
    transform: translateY(-2px); /* Slight lift effect */
}

.btn-blue:hover {
    background-color: darkblue; 
}

.btn-green:hover {
    background-color: darkgreen; 
}